:root{
	--yellow: #f1c40f;
	--dark-purple: #b23386;
	--light-purple: #ff90e8;
	--cream-blue: #23a094;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
}
.header{
	position: fixed;
	width: 100%;
	display: flex;
	background-color: #000 !important;
  	z-index: 100;
}
.navbar-brand{
	color: #fff;
	font-size: 1.8rem;
}
.navbar-brand:hover{
	color: var(--light-purple);
}

.navbar-nav{
	gap: 1rem;
}
.custom-toggler{
	border: none;
	padding: 0;
	margin-left: 1rem;
	width: 2.5rem;
}

.navbar-toggler-icon{
	width: 1.5rem !important;
	height: 1.5rem !important;
}


.nav-link {
	color: #fff;
	padding: 0.8rem 1.5rem;
	border-radius: 5px;
}
.nav-link:hover{
	background-color: var(--light-purple);
	;
}


@media screen and (max-width: 768px){
	.navbar-nav{
		align-items: center;
		padding: 1rem 0;
	}
	.navbar-collapse {
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
	}
	.navbar-collapse {
		background-color: var(--dark-purple);
	}

}
@media screen and (max-width: 420px){
	.navbar-collapse {
		background-color: var(--dark-purple);
	}

}